<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<a href="/" title="Return to the homepage" id="logo">
                        <img src="/_layouts/logo.png" alt="logo" />
                        </a>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>  
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research Topics</a></li>
	        		<li><a href="/staff">Staff</a></li>
	        		<li><a href="/blog">News from the bench (and elsewhere)</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:unerforschtesgebiet@gmail.com">email</a></li>
	        		<li><a href="https://github.com/augusthackedicht">github.com/augusthackedicht</a></li>
				</ul>
			</footer>
		</body>
	</html>
