<!DOCTYPE html>
	<html>
		<head>
			{ background-image: url(https://github.com/augusthackedicht/augusthackedicht.github.io/blob/master/_layouts/bg2.JPG); repeat fixed 
			}
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research Topics</a></li>
	        		<li><a href="/staff">Staff</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:unerforschtesgebiet@gmail.com">email</a></li>
	        		<li><a href="https://github.com/augusthackedicht">github.com/augusthackedicht</a></li>
				</ul>
			</footer>
		</body>
	</html>
